* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--Very-Light-Gray);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--Blue);
}

main {

  min-height: 100vh;
}


main .intro {
  text-align: center;
  margin-top: 50px;
  padding: 0px 15px;

}

main .intro p:first-of-type {
  font-size: 2rem;
  font-weight: 200;
  color: var(--Very-Dark-Blue);
}

main .intro p:nth-of-type(2) {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}

main .intro p:last-of-type {
  color: var(--Grayish-Blue);
  max-width: 500px;
  margin: auto;
}

main .cards {
  display: flex;
  gap: 30px;
  align-items: center;

  margin: auto;
  margin-top: 50px;
}

@media (min-width:1000px) {
  main .cards {
    width: 1000px;
  }
}

@media (max-width:999px) {
  main .cards {
    flex-direction: column;
  }
}

main .cards .card {
  background-color: white;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px var(--Grayish-Blue);
  padding: 40px;
  display: flex;
  flex-direction: column;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  width: calc(940px / 3);
}

main .cards .third {
  margin-top: 40px;
}

main .cards .first:first-of-type:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Cyan);
  position: absolute;
  top: 0;
  left: 0;
}

main .cards .fourth:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Blue);
  position: absolute;
  top: 0;
  left: 0;
}

main .cards .second:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Red);
  position: absolute;
  top: 0;
  left: 0;
}

main .cards .third:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--Orange);
  position: absolute;
  top: 0;
  left: 0;
}

main .cards .card p:first-of-type {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
  font-size: 1.2rem;
}

main .cards .card p:last-of-type {
  font-size: 0.9rem;
  font-weight: 200;
  line-height: 1.6;
  margin-top: 10px;
}

main .cards .card img {
  margin-top: 25px;
  width: 55px;
  align-self: flex-end;
}